
body{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 20px;
}
.buttoncontainer{
    width: 100%;
}

.buttoncontainer button{
    padding: 20px;
    font-size: large;
    font-weight: bold;
}

.buttonchoice-rock{
    width: 30%;
    background-color: red;
}

.buttonchoice-paper{
    width: 30%;
    background-color: blue;
}

.buttonchoice-scizzors{
    width: 30%;
    background-color: yellow;
}